/* Body styles */

body {
    font-family: 'sans-serif';
    font-weight:600;
    margin: 0;
    padding: 0;
    background-color: #6f6c6c;
    color: #e0e0e0;
    display: flex;
    justify-content: center;
    overflow:auto;
}
.header-text {
    font-size: 2em; /* Adjust as needed */
    margin-top:12px;
    margin-bottom:12px;
    letter-spacing: 3px; /* Adjust spacing between letters */
    word-spacing: 5px; /* Adjust spacing between words */
    text-align: center; /* Center align the text */
}

.scroll-loader-div{
    padding-left: 195px;
}
.scroll-loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 


.loading-div{
    padding-top:400px;
}
[class*=classic]:before {
  content:"Loading...";
}
.classic-2 {
    color:rgb(214, 209, 209);
    font-weight: bold;
    font-family: sans-serif;
    font-size: 30px;
    padding-bottom: 8px;
    background:linear-gradient(currentColor 0 0) 0 100%/0% 3px no-repeat;
    animation:c2 2s linear infinite;
}
@keyframes c2 {to{background-size: 100% 3px}}


.form-container {
    width: 100%;
    max-width: 400px;
    background-color: #fff; /* White background */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* Title for the login form */
.form-title {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333; /* Dark grey text */
    text-align: center;
}
.form-label {
    display: block; /* Ensures labels appear on new lines */
    font-weight: bold; /* Makes labels bold */
    color: #333; /* Sets label color */
    padding-bottom:5px;
}
/* Input fields */
.form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 8px;
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 5px; /* Rounded corners */
    box-sizing: border-box; /* Ensure padding is included in the width */
}

/* Submit button */
.form-button {
    width: 40%;
    padding: 10px;
    background-color: #007BFF; /* Blue background */
    border: none;
    border-radius: 5px; /* Rounded corners */
    color: #fff; /* White text */
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.form-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.form-error-message {
    font-size: 1.2em;
    color: #bb2424; /* Red color for error messages */
    margin-bottom: 5px;
}

.post-container {
    width:400px;
    background-color: #1e1e1e;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 15px;
    height:300px;
    margin-bottom: 15px;
}

/* Link styles */
.post-link {
    font-size: 1.8em; /* Slightly smaller font size */
    font-weight: bold;
    display: block;
    color: #d0d0d0;
    text-decoration: none;
    margin-bottom: 5px;
}
.post-link:hover{
    cursor:pointer;
    color:rgb(55, 55, 255);
}
.author-name {
    color: #b7b4b4;
    font-size: 0.9em;
    margin-bottom: 5px;
    text-decoration: none;
}
.author-name:hover{
    cursor:pointer;
}

/* Post title */
.post-title {
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* Likes and creation date container */
.post-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    color: #999;
}

/* Likes count */
.post-likes{
    margin-right: 10px;
}

/* Creation date */
.creation-date {
    margin-left: 10px;
}

/* Separator line between posts */
.post-separator {
    border-top: 1px solid #ddd;
    margin-top: 20px;
    padding-top: 20px;
}
.like-button, .dislike-button {
    display: inline-block;
    cursor: pointer;
}
.dislike-button:hover{
    color:rgb(211, 38, 38);
}
.like-button:hover{
    color: #3bd139;
}
.dislike-button {
    margin-left: 10px; /* Adds space between like and dislike buttons */
}






/* Container for the entire form */
.create-post-container {
    width: 600px;
    background-color: #fff; /* White background */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    margin: 0 auto; /* Center the container */
    margin-top: 50px; /* Add some top margin */
}

/* Title for the post creation page */
.create-post-title{
    font-size: 1.5em;
    font-weight:bold;
    color: #333; /* Dark grey text */
    margin-bottom: 20px;
    text-align: center;
}
.create-post-label{
    font-size: 1.5em;
    font-weight:bold;
    padding-bottom:5px;
    color: #333; /* Dark grey text */
}

/* Form styling */
.create-post-form {
    display: flex;
    flex-direction: column;
}

/* Title input styling */
.title-input {
    font-size: 1.15em;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 5px; /* Rounded corners */
    width: 100%;
    box-sizing: border-box;
    resize:none;
}

/* Body input styling (textarea) */
.body-input {
    font-size: 1.15em;
    padding: 10px;
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 5px; /* Rounded corners */
    width: 100%;
    height: 200px;
    resize:none;
    box-sizing: border-box;
}

/* Submit button styling */
.submit-button {
    width:15%;
    font-size: 1.2em;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px; /* Rounded corners */
    background-color: #007BFF; /* Blue background */
    color: #fff; /* White text */
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}





/* Container for each post */
.post {
    max-width: 600px;
    text-align: left;
    margin: 20px auto;
    color: #e0e0e0;
    background-color: #181818;
    padding: 20px;
    border-radius: 10px;
}
.post-header {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.post-title {
    font-size: 2.5em;
    margin: 0;
    color: #e0e0e0;
}
.post-username {
    font-size: 1.2em;
    color: #e0e0e0;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    margin-bottom: 10px;
}

.post-content {
    font-weight:500;
    line-height: 1.6;
    font-size: 1.2em;
}

.post-likes {
    color: #e0e0e0;
    font-weight: bold;
    text-decoration: solid;
    padding-bottom:6px;
}

/* Like button */
.div-plb{
    padding-right:5px;
    padding-bottom:5px;
}
.post-like-button {
    display: inline-block;
    cursor: pointer;
}
.post-dislike-button {
    margin-left: 10px; /* Adds space between like and dislike buttons */
    cursor: pointer;
}

.post-dislike-button:hover{
    color:rgb(211, 38, 38);
}
.post-like-button:hover{
    color: #3bd139;
}

.comment-box {
    width:500px;
    margin-bottom: 20px;
}

.comment-box textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    resize: none;
    background-color: #e8e1e1;
}
.cmb-label{
    padding-top:8px;
    padding-bottom:8px;
}
.comments-section {
    max-width: 800px;
    margin: 20px 0;
}
.cmb-buttondiv{
    padding-top:6px;
}
.comment {
    margin-top: 8px; /* Reduced margin */
    padding: 15px; /* Reduced padding */
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}
.comment-authorname{
    font-size: 1em; /* Slightly smaller font size */
    font-weight:bold;
    color: #3bd139;
    text-decoration: none;
}
.comment-createdat{
    padding-left:7px;
}

.comment-content {
    margin: 8px 0; /* Reduced margin */
    font-size: 1em; /* Slightly smaller font size */
    line-height: 1.4; /* Slightly reduced line height */
}
.comment-like-button {
    cursor: pointer;
}
.comment-dislike-button {
    cursor: pointer;
    margin-left:10px;
}
.comment-dislike-button:hover{
    color:rgb(211, 38, 38);
}
.comment-like-button:hover{
    color: #3bd139;
}


/* Comment footer */
.comment-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-links{
    justify-content:right;
    padding-bottom:0px;
}
.login-link{
    font-size: 1em;
    font-weight:bold;
    color: #3bd139;
    padding-right:5px;
}
.register-link{
    font-size: 1em;
    font-weight:bold;
    color: #3bd139;
}

